header {
  height: 100vh;
  background: linear-gradient(180deg, rgba(11, 14, 17, 0) 0%, #0b0e11 54.17%),
    url(src/assets/icons/touch.svg) center no-repeat;
  background-size: 150%;
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 0;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    &__top {
      text-align: center;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 675px;
      &-title {
        font-weight: 500;
        font-size: 62px;
        line-height: 90%;
        /* or 86px */
        text-transform: uppercase;
        margin-bottom: 38px;

        /* Main Gradient */

        background: linear-gradient(0deg, #07ae31, #07ae31);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      &-text {
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.03em;
      }
    }
    &__derivative {
      display: flex;
      gap: 9px;
      min-width: 129px;
      flex-basis: 129px;
      min-height: 60px;
      background: rgba(11, 14, 17, 0.66);
      border-radius: 9.00881px;
      padding: 11px 6px;
      .buy {
        font-size: 6px;
        line-height: 8px;
        &-arrow {
          height: 6px;
        }
      }
    }
  }
  .test {
    // width: calc(100% + 80px);
    // margin-right: 80px;
    // height: 229px;
    // background: red;
  }
}

.section {
  margin-top: 2rem;
  @media screen and (min-width: 1200px) {
    margin-top: 5.625rem;
  }
}

.title {
  font-size: 2.75rem;
  line-height: 120%;
}

.arrow {
  width: 40px;
  height: 40px;
  border: 1px solid #575656;
  background: #0b0e11;
  border-radius: 9999px;
}

.card-big {
  @apply tw-flex tw-flex-col tw-py-10 tw-px-6
  xl:tw-flex-row xl:tw-items-end xl:tw-justify-between
  xl:tw-py-10;
  border-radius: 24px;
  padding: 40px 25px;
  position: relative;

  background: #141734;
  z-index: 1;
  button {
    position: relative;
  }
  &__left {
    @media screen and (min-width: 1200px) {
      max-width: 380px;
    }
  }
  .top-icon {
    position: absolute;
    right: 0;
    top: -50px;
    width: 120px;
    height: 120px;
    @media screen and (min-width: 1200px) {
      right: 50%;
      transform: translateX(50%);
    }
  }
}

.button-border {
  border: 1px solid #ffffff;
  backdrop-filter: blur(7px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
  min-height: 60px;
  padding-right: 22.05px;
  padding-left: 22.05px;
}

.button-border-light {
  border: 1px solid #333653;
  /* Note: backdrop-filter has minimal browser support */
  font-size: 14px;
  line-height: 130%;
  border-radius: 6px;
  min-height: 40px;
  padding-right: 24px;
  padding-left: 24px;
}
.button-black {
  background-color: #000320;
  color: #fff;
  padding-right: 22.05px;
  padding-left: 22.05px;
  border-radius: 12px;
  min-height: 60px;
  padding: 20px;
  font-size: 1rem;
  line-height: 19px;
  position: relative;
}
.button {
  border-radius: 10px;

  padding: 18px;
  font-size: 1rem;
  color: #fff;
  position: relative;
  font-size: 14.5131px;

  line-height: 130%;
  transition: all 0.3s ease;
  &_xs {
    min-height: 41px;
    padding: 11px;
  }
  &_base {
    min-height: 54px;
  }
  &_lg {
    min-height: 60px;
  }
  &_green {
    background: #07ae31;
    &:hover,
    &:active {
      background: #088b29;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &_minw {
    &-md {
      min-width: 169px;
    }
    &-base {
      min-width: 207px;
    }
  }
  &_border-white {
    border: 1.04072px solid #ffffff;
  }
  &__login {
    min-width: 104px;
  }
  &_border-green {
    outline: 1.26px solid #07ae31;
  }
  &_tranparent {
    background: transparent;
  }
  &
  // &_minw {
  //   &-xs {
  //     min-width: 104px;
  //   }
  //   &-md {
  //     min-width: 169px;
  //   }
  //   &-base {
  //     min-width: 217px;
  //   }
  // }

  &-border {
  }
}

.circle {
  width: 70px;
  background: #272b4f;
  height: 70px;
  border-radius: 9999px;
  z-index: 0;
  mix-blend-mode: luminosity;
  position: relative;
  & > img {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 60px;
  }
}

.card {
  border-radius: 7.80016px;
  padding: 20px 25px;

  backdrop-filter: blur(30.4091px);
  &_border {
    border: 1.04002px solid #575656;
  }
}

.card-derivative {
  .tokens {
    color: #bec3ff;
    white-space: nowrap;
  }

  .buy {
    font-size: 16px;
    line-height: 19px;

    color: #494d72;
  }
}

.card-gray {
  // box-shadow: 0px 155px 62px rgba(1, 3, 24, 0.01),
  //   0px 87px 52px rgba(1, 3, 24, 0.05), 0px 39px 39px rgba(1, 3, 24, 0.09),
  //   0px 10px 21px rgba(1, 3, 24, 0.1), 0px 0px 0px rgba(1, 3, 24, 0.1);

  background: #141734;

  .tokens {
    color: #bec3ff;
    white-space: nowrap;
  }

  .buy {
    font-size: 16px;
    line-height: 19px;

    color: #494d72;
  }
}

.card-partner {
  background: #333653;
  box-shadow: 0px 63px 25px rgba(5, 8, 46, 0.01),
    0px 35px 21px rgba(5, 8, 46, 0.05), 0px 16px 16px rgba(5, 8, 46, 0.09),
    0px 4px 9px rgba(5, 8, 46, 0.1), 0px 0px 0px rgba(5, 8, 46, 0.1);
  border-radius: 18px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: luminosity;
  width: 168px;
  & > img {
    object-fit: cover;
  }
}

.star {
  $this: &;
  padding: 22px 15px;
  background: #0b0e11;
  border-radius: 6.3909px;
  border: 0.85212px solid #575656;
  display: flex;
  gap: 16px;
  &-avatar {
    flex-shrink: 0;
    display: inline-block;
    &__wrapper {
      width: 92px;
      height: 92px;
      border: 1px solid #333653;
      border-radius: 9999px;
      display: flex;
    }
    &__img {
      margin: auto;
      border-radius: 9999px;
      width: 71px;
      height: 71px;
      object-fit: contain;
    }
  }
  &-card--desk {
    padding: 40px 25px;
    position: relative;
    margin-top: 80px;
    #{$this}-avatar {
      position: absolute;
      right: 20px;
      top: -80px;
    }
  }
  &-card--mob {
    max-width: 263px;
  }
  &__content {
    &-title {
      font-size: 17.3839px;
      line-height: 130%;
      margin-bottom: 10px;
    }
    &-text {
      font-size: 9.6577px;
      line-height: 130%;
    }
  }
}

.pie {
  background-color: #141734;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-link {
    width: 50px;
    height: 50px;
    mix-blend-mode: luminosity;
  }
  &-arrow {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
  }
}

.arrow-icon {
  color: #bec3ff;
}

footer {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #101333;
    top: 0;
  }
}

.section {
  position: relative;
}
.accardion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-arrow {
  transform: rotate(0deg);
  transition: all 0.3s ease;
  &.active {
    transform: rotate(180deg);
  }
}
.roadmap__list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  &:last-child {
    @media screen and (min-width: 1200px) {
      border-top: 1px solid #575656;
      justify-content: flex-end;
    }
  }
}
.roadmap__item {
  $this: &;
  padding: 22px;
  overflow: hidden;
  position: relative;
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 283px;
    // padding: 40px 60px;
  }
  &:nth-child(1) {
    @media screen and (min-width: 1200px) {
      border-right: 1px solid #575656;
      border-left: 1px solid #575656;
    }
  }
  &:nth-child(2) {
  }
  &:nth-child(3) {
    @media screen and (min-width: 1200px) {
      border-right: 1px solid #575656;
      border-left: 1px solid #575656;
    }
  }

  .item {
    &-2 {
    }
    &-3 {
    }
    &-4 {
    }
    &-5 {
    }

    &__border {
      &-r {
        border-right: 1px solid #575656;
      }
      &-l {
        border-left: 1px solid #575656;
      }
    }
    &__icon {
      mix-blend-mode: luminosity;
      width: 56px;
      height: 56px;
    }
    &__title {
      font-size: 25.2015px;
      line-height: 120%;
      margin-bottom: 4px;
    }
    &__subtitle {
      font-size: 10px;
      line-height: 130%;
      color: #575656;
    }
    &__list {
      font-size: 13.291px;
      line-height: 130%;
    }
  }
  // &_1 {
  //   &::before {
  //     background-image: url(./icons/stage-icon-1.svg);
  //   }
  // }
  // &_2 {
  //   &::before {
  //     background-image: url(./icons/stage-icon-2.svg);
  //   }
  // }
  // &_3 {
  //   &::before {
  //     background-image: url(./icons/stage-icon-6.svg);
  //   }
  // }
  // &_4 {
  //   &::before {
  //     background-image: url(./icons/stage-icon-4.svg);
  //   }
  // }
  // &_5 {
  //   &::before {
  //     background-image: url(./icons/stage-icon-5.svg);
  //   }
  // }
  // &_6 {
  //   &::before {
  //     background-image: url(./icons/stage-icon-6.svg);
  //   }
  // }
  &-wrapper {
    position: relative;
    .button-arrow {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &-header {
    // display: flex;
    // flex-direction: column;
    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 22px;
    }
    & > * {
      display: table;
      position: relative;
      transition: all 0.9s ease;
      left: 0;
    }
    & > img {
      width: 80px;
      height: 80px;
      display: block;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 13.291px;
    line-height: 130%;
    @media screen and (min-width: 1200px) {
      margin-top: 19px;
      overflow: auto;
      max-height: initial;
      gap: 10px;
    }
    & > li {
      position: relative;
      padding-left: 15px;
      &:last-child {
        @media screen and (min-width: 1200px) {
          margin-bottom: 60px;
        }
      }
      &::after {
        position: absolute;
        content: "\2022";
        color: #fff;
        left: 0;
        top: 0;
      }
    }
  }

  &.active {
    mix-blend-mode: inherit;
    &::before {
      right: -1000px;
    }
    #{$this}-header {
      & > img {
        width: 140px;
        height: 140px;
      }
      & > * {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    #{$this}-list {
      margin-top: 20px;
    }
  }
}

.tokenomics {
  &__card {
    padding: 30px 32px 39px;
    border-radius: 7.80016px;
    border: 1.04002px solid #575656;
  }
}
