// app global css in SCSS form
.bg-arrow-brand {
  background-color: #0b0e11;
  border: 1px solid #575656;
}

.text-arrow-brand {
  color: #bec3ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins.scss";
@import "./utilities.scss";
@import "./font-styles/stolzl-font.scss";
@import "./font-styles/ubuntu-font.scss";
@import "./base.scss";
@import "./auth.scss";
@import "./wallet.scss";
@import "./landing.scss";
@import "./invest-landing.scss";
@import "./v3/ui.scss";
@import "./lk.scss";

.env-t {
  padding-top: max(20px, env(safe-area-inset-top, 20px));
}

.env-b {
  padding-bottom: max(20px, env(safe-area-inset-bottom, 20px));
}

.q-carousel__next-arrow--horizontal {
  top: 0px;
  right: 40px;
}
.q-carousel__prev-arrow--horizontal {
  top: 0px;
  left: 40px;
}

.q-carousel__slide,
.q-carousel .q-carousel--padding {
  padding: 0 !important;
}

.slide-paginate {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background: #141734;
  margin-right: 10px;
  color: #5c5d9b;
  display: flex;
  align-items: center;
  justify-content: center;
  :not(:last-child) {
    margin-right: 0;
  }
  &.active {
    width: 30px;
    height: 30px;
    background: #333653;
    color: #fff;
  }
}

.dropdown {
  position: fixed;
  background: #0b0e11;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 19px 0;
  &__middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
  }
  &__bottom {
    display: flex;
    justify-content: center;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
  }
}
