.app-auth {
  max-width: 380px;
  @include screen-xl {
    margin-left: 100px;
  }
  @apply tw-m-auto tw-w-full tw-py-6;

  &__h1 {
    @apply tw-text-sm xl:tw-text-md1  tw-mb-2;
  }

  &__subtitle { 
    
    @apply tw-text-xxs xl:tw-text-xs  xl:tw-mb-6 tw-mb-4-1;
  }

  &__form {
    max-width: 340px;
    
    @include space-y(18px);
    @apply tw-mr-auto tw-ml-0;

    & > button {
      @apply tw-mt-6;

      @include screen-xl {
        @apply tw-mt-7-1;
      }
    }
  }

  &__code {
    max-width: 285px;
    @apply tw-mx-auto;
    @include screen-xl {
      max-width: 100%;
    }
  }

  &__links {
    @apply tw-text-center tw-text-xxs xl:tw-text-xs;
    max-width: 340px;
    // @include space-y(8px);
  }

  &__link {
    // @apply tw-block tw-w-full;
    @apply tw-text-green;
  }
}
