@layer base {
  @import "./spaces.scss";

  input {
    outline: none;
  }

  *:not(body, html) {
    @include scrollbar();
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    // @apply tw-font-stolzl tw-text-xs tw-text-white;
    @apply tw-font-stolzl tw-text-xs tw-text-white;
    line-height: 130%;
  }

  %h {
    line-height: 1.4;
  }

  p {
    color: #9596a3;
  }

  h1,
  .h1 {
    line-height: 90%;
    @apply tw-text-xl;
  }

  h2,
  .h2 {
    line-height: 110%;
    @apply tw-text-lg;

    @media screen and (min-width: 1200px) {
      @apply tw-text-md1;
      line-height: 120%;
    }
  }

  h3,
  .h3 {
    @extend %h;
    @apply tw-text-md1;
  }

  h4,
  .h4 {
    @extend %h;
    @apply tw-text-md2;
  }

  .h5 {
    @extend %h;
    @apply tw-text-sm;
  }

  .h6 {
    @extend %h;
    @apply tw-text-base;
  }

  a,
  .app-link {
    @apply tw-text-secondary tw-text-xxs xl:tw-text-xs;

    @include screen-xl {
      &:hover {
        @apply tw-text-blue-hover;
      }

      &:active {
        @apply tw-text-dark-blue;
      }
    }
  }

  .app-h1 {
    @apply tw-text-sm xl:tw-text-md2;

    &--space {
      @apply tw-mb-6 xl:tw-mb-7-1;
    }
  }

  .app-page-y {
    @apply tw-pt-9 xl:tw-pt-12;
  }

  .app-page-bg {
    background: theme("colors.dark-blue-cover");

    background-size: cover;
    background-size: auto;
    background-position: bottom;

    @include screen-xl {
      background-size: cover;
      background-position: bottom;
    }
  }

  .app-page-bg--dark {
    background: #0b0e11;
  }

  .app-page-bg_auth {
    background: radial-gradient(50% 50% at 50% 50%, #000 0%, #000 100%) ;
    background-size: cover;
    background-size: auto;
    background-position: bottom;
    position: relative;
    @include screen-xl {
      background-size: cover;
      background-position: bottom;
      &::after {
        content: '';
        position: absolute;
        background: url("src/assets/images/AA_1.png") center no-repeat;
        background-size: contain;
        width: 650px;
        height: 595px;
        bottom: 0;
        right: 0;
      }
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("src/assets/icons/touch.svg") center no-repeat;
      background-size: cover;
    }
  }

  .app-page-bg_lk {
    background: theme("colors.dark-blue-cover")
      url(~assets/images/bg-lk-mob.svg) no-repeat;
    background-position: center bottom;
    @include screen-xl {
      background: theme("colors.dark-blue-cover") url(~assets/images/bg-lk.svg)
        no-repeat;
      background-position: inherit;
    }
  }

  .app-logo {
    width: 100px;

    @include screen-xl {
      width: 198px;
    }
  }

  .app-logo-2 {
    width: 164px;
  }

  .app-logo-i {
    width: 100%;
  }
}
