$xl: theme("screens.xl");
$columns: 18;
$offset: 30px;

@mixin scrollbar() {
  &::-webkit-scrollbar {
    // контейнер
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    // контейнер
    // @apply tw-bg-dark;
    background-color: #494d71;
  }

  &::-webkit-scrollbar-button {
    // кнопки вверх вниз
    // @apply tw-bg-dark;
  }

  &::-webkit-scrollbar-thumb {
    // полоса
    // @apply tw-bg-blue-hover;
    background: #bec3ff;
    border-radius: 50px;
  }
}

@mixin gutter($val) {
  margin-top: $val * -1;
  margin-left: $val * -1;

  & > * {
    margin-top: $val;
    margin-left: $val;
  }
}

@mixin gutter-y($val) {
  margin-top: $val * -1;

  & > * {
    margin-top: $val;
  }
}

@mixin gutter-x($val) {
  margin-left: $val * -1;

  & > * {
    margin-left: $val;
  }
}

@mixin gutter-col {
  @include gutter($offset);
}

@mixin gutter-col-x {
  @include gutter-x($offset);
}

@mixin gutter-col-y {
  @include gutter-y($offset);
}

@mixin gutter-p-y($offset) {
  margin-top: $offset * -1;

  & > * {
    padding-top: $offset;
  }
}

@mixin gutter-p-x($offset) {
  margin-left: $offset * -1;

  & > * {
    padding-left: $offset;
  }
}

@mixin gutter-p($offset) {
  margin-top: $offset * -1;
  margin-left: $offset * -1;

  & > * {
    padding-top: $offset;
    padding-left: $offset;
  }
}

@mixin row() {
  display: flex;
  flex-wrap: wrap;
}

@mixin col($size) {
  $val: 100% / $columns * $size;
  width: #{calc(#{$val} - #{$offset})};
}

@mixin col-xl($size) {
  $val: 100% / $columns * $size;

  @include screen-xl {
    width: #{calc(#{$val} - #{$offset})};
  }
}

@mixin screen-xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin screen-start-xl {
  @media screen and (min-width: 0) and (max-width: $xl) {
    @content;
  }
}

@mixin space($val) {
  > * + * {
    margin-left: $val;
    margin-top: $val;
  }
}

@mixin space-x($val) {
  > * + * {
    margin-left: $val;
  }
}

@mixin space-y($val) {
  > * + * {
    margin-top: $val;
  }
}

@mixin el-center {
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}

@mixin col-shift-left($n) {
  $val: 100% / $columns * $n;
  margin-left: #{calc(#{$val} + #{$offset})};
}

@mixin col-shift-left-xl($n) {
  @include screen-xl {
    @include col-shift-left($n);
  }
}

// gutter col - сетка на падингах
// gutter - отступы на марджинах
